.btn {
  display: inline-block;
  border: none;
  font-weight: 600;
  font-size: rem(16);
  line-height: 22px;
  font-weight: 700;
  line-height: rem(30);
  padding: rem(5) rem(28);
  color: $whiteColor;
  border-top-left-radius: rem(20);
  border-bottom-right-radius: rem(20);
}
